<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Propuesta</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>


<body style="margin: 0; padding: 0;">

<table align="center" border="1" cellpadding="0" cellspacing="0" width="800">

    <tr>

        <td align="center" bgcolor="#70bbd9">


            <img src="logo_agronorte.jpg" width="800" height="400" style="display: block;"/>

        </td>

    </tr>
</table>

            {{cuadro_propuesta}}





<table align="center" border="1" cellpadding="0" cellspacing="0" width="800">
    <tr>

        <td bgcolor="#70bbd9">
            <b>
                Departamento de Ventas
                <br>
                Agronorte S.R.L.
                </br>
                Ruta Nac. Nº 11 y Jorge Neme – C.P.: 3040
                </br>
                San Justo – Santa Fe
                </br>
                (03498) 15405765 (Cel.)
                </br>
                (03498) 427206 / 427375 / 420489 Int. 3
            </b>


        </td>

    </tr>
</table>

</body>

</html>